@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  position: relative;
  font-family: "DM sans", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #911c1c;
  font-family: "DM sans", sans-serif;
}

h1 {
  font-family: "DM sans", sans-serif;
}

*, *:after, *:before {
  box-sizing: border-box;
  outline: 0;
}

:focus {
  transition: 0.3s;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.redirect__link {
  width: 100%;
  height: 30px;
  width: 182px;
  border-radius: 5px;
  background: #DB8876;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 9px;
  left: calc((100% - 182px) / 2);
}
.redirect__link a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 727px) {
  .redirect__link {
    display: none;
  }
}

.imgFlex {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Positionnemt Structurelle des élements ce trouvant à la racine du DOM*/
/*HEADER*/
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 1.25rem 1.375rem;
  margin: auto;
  /*Gallery page*/
}
@media screen and (min-width: 767px) {
  .header__wrapper {
    inline-size: 100%;
    padding: 2.25rem 7.5rem 2.25rem 6rem;
  }
}
@media screen and (min-width: 1023px) {
  .header__wrapper {
    inline-size: 1024px;
  }
}
@media screen and (min-width: 1439px) {
  .header__wrapper {
    inline-size: 1440px;
  }
}
.header__wrapper--gallery {
  padding-bottom: 0.6875rem;
}

/*MAIN*/
.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
@media screen and (min-width: 767px) {
  .main__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    inline-size: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .main__wrapper {
    inline-size: 1024px;
    padding: 4rem 1.5rem 4rem 1rem;
  }
}
@media screen and (min-width: 1439px) {
  .main__wrapper {
    inline-size: 1440px;
  }
}
.main__wrapper--gallery {
  padding: 0rem 1.25rem;
}
@media screen and (min-width: 767px) {
  .main__wrapper--gallery {
    padding: 2.0625rem 6rem 0.5625rem 6rem;
  }
}

/*Système de filtre*/
.selectFilter {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .selectFilter {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .selectFilter .selectFilter--inner {
    padding: 0 6rem;
    inline-size: 100%;
    padding-bottom: 0.875rem;
  }
}
@media screen and (min-width: 1023px) {
  .selectFilter .selectFilter--inner {
    inline-size: 1024px;
  }
}
@media screen and (min-width: 1439px) {
  .selectFilter .selectFilter--inner {
    inline-size: 1440px;
  }
}

/*Gallerie photo*/
.photography {
  padding: 2.875rem 1.25rem;
}
@media screen and (min-width: 767px) {
  .photography {
    display: flex;
    flex-wrap: wrap;
    inline-size: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 1rem 6rem 6rem 6rem;
  }
}
@media screen and (min-width: 1023px) {
  .photography {
    inline-size: 1024px;
  }
}
@media screen and (min-width: 1439px) {
  .photography {
    inline-size: 1440px;
  }
}

/*Gallerie counter*/
.counterLike {
  display: none;
}
@media screen and (min-width: 1439px) {
  .counterLike {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #DB8876;
    bottom: 0;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    right: 2.25rem;
    width: 376px;
    padding: 1.3125rem 2.125rem 0.625rem 1.9375rem;
    z-index: 80;
  }
  .counterLike p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .counterLike .sumLike i {
    padding-left: 0.25rem;
  }
}

/*Icone coeur de fontAwesome font */
.fas {
  transform: scaleX(0.85);
}

/*Hidden element for screen reader*/
.sr__only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.nav__filter a {
  display: flex;
  margin: 0 0.3125rem 0.375rem 0;
  padding: 1px 4px;
  transition: 0.3s;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: #911c1c;
  font-weight: 500;
  line-height: 1rem;
  font-weight: bold;
}
.nav__filter a:focus, .nav__filter a:hover {
  background-color: #901C1C;
  color: white !important;
}

/*

.header__wrapper{
    background-color: rgb(182, 182, 182);
}
.main__wrapper{
    background-color: pink
}
.sticker{    
    background-color: rgb(0, 137, 190);
}

.selectFilter--inner{
    background-color: rgb(100, 102, 255);
}

.photography{
    background-color: rgb(0, 128, 90);
}

*/
.header__wrapper .header__logo {
  order: 1;
}
.header__wrapper .header__logo img {
  width: 150px;
  height: 37px;
}
@media screen and (min-width: 778px) {
  .header__wrapper .header__logo img {
    width: 200px;
    height: 50px;
  }
}
.header__wrapper .header__logo a {
  height: 37px;
  display: flex;
}
.header__wrapper .header__logo a:focus {
  outline: 1px solid;
  background-color: #d6d6d6;
}
@media screen and (min-width: 778px) {
  .header__wrapper .header__logo a {
    height: 50px;
    display: flex;
  }
}
.header__wrapper h1 {
  order: 2;
  flex-basis: 50%;
  font-size: 0.875rem;
  color: #911c1c;
  display: flex;
  align-self: center;
  justify-content: flex-end;
}
@media screen and (min-width: 475px) {
  .header__wrapper h1 {
    order: 2;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper h1 {
    order: 2;
    font-size: 2.125rem;
  }
}
@media screen and (min-width: 1439px) {
  .header__wrapper h1 {
    order: 2;
    flex-basis: auto;
    font-size: 2.125rem;
  }
}
.header__wrapper .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 3;
  flex-basis: 100%;
  margin-top: 2rem;
  margin-bottom: 1.4375rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}
@media screen and (min-width: 727px) {
  .header__wrapper .nav {
    order: 3;
    flex: 1 1 40%;
    margin: 1rem 0 0.25rem;
    align-items: center;
  }
}
@media screen and (min-width: 1439px) {
  .header__wrapper .nav {
    order: 2;
    margin: 0 0 0.25rem;
  }
}

.main__wrapper--index .sticker {
  transition: 0.3s;
}
.main__wrapper--index .sticker:hover {
  transform: scale(1.05);
}

.sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.75rem;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .sticker {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1023px) {
  .sticker {
    flex: 0 1 28%;
    margin-bottom: 3rem;
  }
}
.sticker header {
  width: 100%;
}
.sticker .identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem 0.25rem;
  margin-bottom: 0.375rem;
  width: 100%;
}
.sticker .identity:focus {
  outline: 1px solid;
  background-color: #d6d6d6;
}
.sticker .flexImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.75rem;
}
.sticker h2 {
  color: #d3573c;
  font-size: 2.125rem;
  font-family: "DM Sans", sans-serif;
}
.sticker .info__city {
  padding-bottom: 0.5rem;
  font-family: "DM Sans", sans-serif;
  color: #901C1C;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}
.sticker .info__tagline {
  padding-bottom: 0.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.sticker .info__price {
  padding-bottom: 0.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 9px;
  color: #757575;
  font-weight: normal;
  font-style: normal;
}
.sticker .nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main__wrapper--gallery .sticker {
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker {
    background-color: #FAFAFA;
    justify-content: flex-end;
    padding-top: 4.5rem;
    padding-bottom: 2.625rem;
    border-radius: 5px;
    background-color: #f4f4f4;
  }
  .main__wrapper--gallery .sticker .btn--highRes {
    align-self: flex-start;
  }
}
.main__wrapper--gallery .sticker__info {
  display: flex;
  flex-direction: column;
  margin-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker__info {
    align-self: flex-start;
    margin: 0 4.5rem 0 2rem;
  }
  .main__wrapper--gallery .sticker__info h1 {
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: 0.0625rem;
    font-size: 4rem;
    color: #d3573c;
  }
}
.main__wrapper--gallery .sticker header {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker header {
    align-self: flex-start;
  }
  .main__wrapper--gallery .sticker header .identity {
    margin-right: 3rem;
    width: 200px;
    height: 200px;
  }
  .main__wrapper--gallery .sticker header img {
    width: 200px;
    height: 200px;
  }
}
.main__wrapper--gallery .sticker .identity img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.main__wrapper--gallery .sticker .nav {
  justify-content: flex-start;
  /*
              .filter{
                  margin-right : 5px;
                  margin-bottom : 8px;
              }

              a{
                  font-size: rem(13);
                  font-weight: 600;
                  padding : 3px 6px;
                  margin-bottom :0; 

                  @media screen and (min-width : 767px){
                      font-size: 1rem; 
                  }
              }
              */
}
.main__wrapper--gallery .sticker .info__city {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker .info__city {
    margin-bottom: 1.5rem;
    padding-bottom: 0;
    font-size: 1.5rem;
  }
}
.main__wrapper--gallery .sticker .info__tagline {
  font-size: 13px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker .info__tagline {
    padding-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.125rem;
  }
}
.main__wrapper--gallery .sticker .info__price {
  display: none;
}

.sticker__media {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem;
}
.sticker__media a:focus {
  outline: 5px solid black;
}
.sticker__media img, .sticker__media video {
  border-radius: 0.3125rem;
}
.sticker__media a, .sticker__media .flexImg, .sticker__media .flexImg video {
  display: flex;
  height: 190px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .sticker__media a, .sticker__media .flexImg, .sticker__media .flexImg video {
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sticker__media {
    flex: 0 1 45%;
  }
}
@media screen and (min-width: 1439px) {
  .sticker__media {
    padding: 0rem;
    width: 28%;
    margin-bottom: 1.5rem;
  }
}
.sticker__media--info {
  display: flex;
  flex-direction: row;
  padding-top: 0.625rem;
  font-size: 0.875rem;
  color: #901C1C;
}
@media screen and (min-width: 1439px) {
  .sticker__media--info {
    font-size: 24px;
  }
}
.sticker__media--info h2 {
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sticker__media--title {
  flex: 1;
  text-align: left;
}
.sticker__media--price {
  margin-left: 1rem;
  margin-right: 1rem;
}
.sticker__media--like {
  cursor: pointer;
}
.sticker__media--like i {
  margin-left: 0.375rem;
}
.sticker__media--video .flexImg {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.sticker__media--video .flexImg:before {
  position: absolute;
  content: "";
  z-index: 10;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
}
.sticker__media--video .flexImg:after {
  position: absolute;
  content: "";
  z-index: 10;
  width: 0px;
  height: 0px;
  border-top: 25px solid transparent;
  border-left: 25px solid #5f5f5f;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  margin-left: 2rem;
  pointer-events: none;
}

.dialogBox {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-overflow-scrolling: touch;
}
.dialogBox[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
}
.dialogBox form {
  width: 375px;
  margin: auto;
  background-color: #db8876;
  padding: 1.6875rem 1.25rem 4.6875rem 1rem;
  position: relative;
  border-radius: 0.3125rem;
  height: 812px;
}
@media screen and (min-width: 1439px) {
  .dialogBox form {
    width: 668px;
    padding: 2rem 2.1875rem 2.375rem 2.1875rem;
    margin-top: 2rem;
  }
}
.dialogBox form .dialogBox__close {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1.5625rem;
  top: 1.6875rem;
  height: 1.6875rem;
  width: 1.6875rem;
  display: flex;
  padding: 0;
}
@media screen and (min-width: 1439px) {
  .dialogBox form .dialogBox__close {
    height: 2.625rem;
    width: 2.625rem;
    right: 2.1875rem;
    top: 2.1875rem;
  }
}
.dialogBox form .dialogBox__close:before {
  content: "";
  width: 2px;
  background-color: white;
  height: 1.75rem;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0.875rem;
  cursor: pointer;
}
@media screen and (min-width: 1439px) {
  .dialogBox form .dialogBox__close:before {
    top: -4px;
    height: 3.125rem;
    width: 5px;
    left: 18px;
  }
}
.dialogBox form .dialogBox__close:after {
  content: "";
  width: 2px;
  background-color: white;
  height: 1.75rem;
  display: block;
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  left: 0.875rem;
  cursor: pointer;
}
@media screen and (min-width: 1439px) {
  .dialogBox form .dialogBox__close:after {
    top: -4px;
    height: 3.125rem;
    width: 5px;
    left: 18px;
  }
}
.dialogBox form .form__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.dialogBox form legend {
  margin-bottom: 1.25rem;
}
.dialogBox form h1 {
  margin-bottom: 1.5rem;
}
.dialogBox form legend, .dialogBox form h1 {
  font-size: 2.25rem;
}
@media screen and (min-width: 1439px) {
  .dialogBox form legend, .dialogBox form h1 {
    font-size: 2.25rem;
  }
}
.dialogBox form label {
  color: #312E2E;
  font-size: 1.5rem;
  padding-bottom: 0.5625rem;
}
.dialogBox form .brick {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.125rem;
  width: 100%;
}
@media screen and (min-width: 1439px) {
  .dialogBox form .brick {
    padding-bottom: 0.625rem;
  }
}
.dialogBox form .brickInput {
  height: 3.25rem;
  border-radius: 0.3125rem;
  border: none;
  padding: 6px;
}
@media screen and (min-width: 1439px) {
  .dialogBox form .brickInput {
    height: 4.25rem;
  }
}
.dialogBox form .brickInput--textarea {
  height: 184px;
  border: none;
  padding: 6px;
  margin-bottom: 1.625rem;
}
@media screen and (min-width: 1439px) {
  .dialogBox form .brickInput--textarea {
    height: 170px;
  }
}
.dialogBox form .btn--modal {
  width: 170px;
}
@media screen and (min-width: 1439px) {
  .dialogBox form .btn--modal {
    align-self: flex-start;
    height: 69px;
  }
}

.slider {
  position: fixed;
  background-color: white;
  padding: 0;
  z-index: 60;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 90;
  border: none;
  cursor: pointer;
}
.slider[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 1439px) {
  .slider {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.slider .marquise {
  width: 400px;
  height: 340px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
@media screen and (min-width: 1439px) {
  .slider .marquise {
    width: 980px;
    height: 800px;
  }
}
.slider .sliderBox__close {
  position: absolute;
  top: 44px;
  right: 26px;
  height: 22px;
  width: 22px;
  border: none;
  background-color: transparent;
  z-index: 30;
  transition: 0.3s;
  cursor: pointer;
  transform-origin: center;
  border: 2px solid transparent;
  border-radius: 50%;
}
.slider .sliderBox__close:active {
  transform: scale(1.3);
}
.slider .sliderBox__close:hover, .slider .sliderBox__close:focus {
  transform: scale(1.1);
  border-radius: 50%;
  border: 2px solid #525252;
  box-shadow: 0px 5px 5px 0px #bbbbbb;
}
.slider .sliderBox__close:before, .slider .sliderBox__close:after {
  position: absolute;
  content: "";
  background-color: #901C1C;
  display: block;
  z-index: 20;
  height: 13px;
  width: 2px;
  top: 2.5px;
  right: 8px;
}
@media screen and (min-width: 1439px) {
  .slider .sliderBox__close {
    right: 30px;
    top: 44px;
    height: 54px;
    width: 54px;
  }
  .slider .sliderBox__close:focus {
    border-radius: 50%;
    border: 2px solid #525252;
    box-shadow: 0px 5px 5px 0px #bbbbbb;
  }
  .slider .sliderBox__close:before, .slider .sliderBox__close:after {
    position: absolute;
    content: "";
    background-color: #901C1C;
    display: block;
    z-index: 20;
    height: 44px;
    width: 6px;
    top: 3px;
    left: 22px;
  }
}
.slider .sliderBox__close:before {
  transform: rotate(45deg);
}
.slider .sliderBox__close:after {
  transform: rotate(135deg);
}
.slider .carousel {
  position: relative;
  margin: auto;
  border-radius: 5px;
  width: 289px;
  height: 268px;
  z-index: 40;
  box-sizing: content-box;
  overflow: hidden;
  margin-top: 40px;
}
@media screen and (min-width: 1439px) {
  .slider .carousel {
    width: 800px;
    height: 720px;
    margin-top: 40px;
  }
}
.slider .carousel__container {
  position: relative;
  z-index: 50;
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
  display: flex;
  height: 100%;
}
.slider .carousel__item {
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.slider .carousel__item video {
  height: 162px;
  transform: translateY(27%);
}
@media screen and (min-width: 1439px) {
  .slider .carousel__item video {
    transform: translateY(25%);
    height: 450px;
  }
}
.slider .carousel__item .flexImg {
  justify-content: center;
  background-color: #DB8876;
  height: 100%;
}
.slider .carousel__item .imgFlex {
  height: 248px;
}
@media screen and (min-width: 1439px) {
  .slider .carousel__item .imgFlex {
    height: 685px;
  }
}
.slider .carousel__item figcaption {
  font-size: 0.875rem;
  line-height: 18px;
  color: #901C1C !important;
}
@media screen and (min-width: 1439px) {
  .slider .carousel__item figcaption {
    font-size: 1.5rem;
    margin-top: 0.75rem;
    height: 35px;
  }
}
.slider .carousel__prev, .slider .carousel__next {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 0.8125rem;
  z-index: 70;
  width: 30px;
  height: 30px;
  top: calc(50% - 28px);
  transform-origin: center;
  transition: 0.3s;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: white;
}
.slider .carousel__prev:hover, .slider .carousel__prev:focus, .slider .carousel__next:hover, .slider .carousel__next:focus {
  border: 2px solid #525252;
  border-radius: 50%;
  box-shadow: 0px 5px 5px 0px #bbbbbb;
  transform: scale(1.1);
}
.slider .carousel__prev:active, .slider .carousel__next:active {
  transform: scale(1.4);
}
@media screen and (min-width: 1439px) {
  .slider .carousel__prev, .slider .carousel__next {
    height: 50px;
    width: 50px;
    top: calc(50% - 60px);
    font-size: 3rem;
  }
}
.slider .carousel__prev .fas, .slider .carousel__next .fas {
  color: #901C1C;
  transform-origin: center;
}
@media screen and (min-width: 1439px) {
  .slider .carousel__prev .fas, .slider .carousel__next .fas {
    position: absolute;
    top: 0px;
  }
}
.slider .carousel__prev .fa-chevron-right, .slider .carousel__next .fa-chevron-right {
  right: 5px;
}
.slider .carousel__prev .fa-chevron-left, .slider .carousel__next .fa-chevron-left {
  left: 5px;
}
.slider .carousel__prev {
  left: 20px;
}
.slider .carousel__next {
  right: 20px;
}
@media screen and (min-width: 1439px) {
  .slider .carousel__prev {
    left: 30px;
  }
  .slider .carousel__next {
    right: 30px;
  }
}

.figure__video {
  position: relative;
}

.figure__video video:focus ~ .maskVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  display: block;
  background-color: rgba(144, 28, 28, 0);
  border: 6px solid #901c1c;
  z-index: 500;
  content: "";
  width: 100%;
  height: 100%;
}

/*


.figure__video video:focus,.figure__video video:hover{

    border : 1px solid red;
    object-fit: cover;



}*/
figure .media__Mimi--0 {
  object-position: 70% 0%;
}
figure .media__Mimi--2 {
  object-position: 0% 44%;
}
figure .media__Mimi--4 {
  object-position: 0% 20%;
}
figure .media__Mimi--6 {
  object-position: 0% 20%;
}
figure .media__Mimi--9 {
  object-position: 0% 40%;
}
figure .media__Ellie-Rose--5 {
  object-position: 0% 20%;
}
figure .media__Ellie-Rose--6 {
  object-position: 100% 0%;
}
figure .media__Tracy--0 {
  object-position: 0% 8%;
}
figure .media__Tracy--2 {
  object-position: 0% 15%;
}
figure .media__Tracy--3 {
  object-position: 0% 60%;
}
figure .media__Tracy--4 {
  object-position: 60% 0%;
}
figure .media__Tracy--7 {
  object-position: 0% 0%;
}
figure .media__Tracy--8 {
  object-position: 40% 0%;
}
figure .media__Nabeel--8 {
  object-position: 0% 70%;
}
figure .media__Rhode--1 {
  object-position: 0% 10%;
}
figure .media__Rhode--2 {
  object-position: 0% 30%;
}
figure .media__Rhode--5 {
  object-position: 0% 30%;
}
figure .media__Rhode--6 {
  object-position: 0% 0%;
}
figure .media__Rhode--7 {
  object-position: 0% 70%;
}

.media__Mimi--1 {
  object-position: 0% 50%;
}

.media__Mimi--2 {
  object-position: 0% 50%;
}

.media__Mimi--5 {
  object-position: 0% 20%;
}

.media__Mimi--6 {
  object-position: 0% 16%;
}

.media__Mimi--7 {
  object-position: 0% 46%;
}

.media__Mimi--8 {
  object-position: 0% 38%;
}

.media__Ellie-Rose--2 {
  object-position: 0% 63%;
}

.media__Ellie-Rose--3 {
  object-position: 0% 23%;
}

.media__Ellie-Rose--4 {
  object-position: 0% 43%;
}

.media__Ellie-Rose--7 {
  object-position: 0% 56%;
}

.media__Ellie-Rose--10 {
  object-position: 0% 16%;
}

.media__Tracy--0 {
  object-position: 0% 0%;
}

.media__Tracy--2 {
  object-position: 0% 12%;
}

.media__Tracy--3 {
  object-position: 0% 82%;
}

.media__Tracy--4 {
  object-position: 0% 8%;
}

.media__Tracy--7 {
  object-position: 30% 70%;
}

.media__Tracy--8 {
  object-position: 0% 50%;
}

.media__Tracy--9 {
  object-position: 0% 0%;
}

.media__Nabeel--0 {
  object-position: 0% 67%;
}

.media__Nabeel--1 {
  object-position: 0% 0%;
}

.media__Nabeel--2 {
  object-position: 0% 26%;
}

.media__Nabeel--3 {
  object-position: 0% 70%;
}

.media__Nabeel--5 {
  object-position: 0% 100%;
}

.media__Nabeel--6 {
  object-position: 0% 70%;
}

.media__Nabeel--8 {
  object-position: 0% 15%;
}

.media__Rhode--0 {
  object-position: 0% 10%;
}

.media__Rhode--1 {
  object-position: 0% 46%;
}

.media__Rhode--2 {
  object-position: 0% 16%;
}

.media__Rhode--3 {
  object-position: 0% 54%;
}

.media__Rhode--5 {
  object-position: 0% 0%;
}

.media__Rhode--6 {
  object-position: 0% 20%;
}

.media__Rhode--7 {
  object-position: 0% 0%;
}

.media__Marcel--0 {
  object-position: 0% 0%;
}

.media__Marcel--1 {
  object-position: 0% 0%;
}

.media__Marcel--2 {
  object-position: 0% 100%;
}

.media__Marcel--6 {
  object-position: 0% 82%;
}

.media__Marcel--7 {
  object-position: 0% 35%;
}

.selectFilter--inner {
  display: flex;
  align-items: center;
}
.selectFilter--inner label {
  font-weight: bold;
  margin-right: 1rem;
  margin-top: 0.375rem;
  font-size: 1.125rem;
}
.selectFilter--inner button {
  background-color: #901C1C;
  border: none;
  color: white;
  font-size: 1.125rem;
  padding: 0.875rem 0.625rem;
}
.selectFilter--inner .customSelect__wrapper {
  position: relative;
  width: 170px;
  display: block;
}
.selectFilter--inner .customSelect__wrapper .open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.selectFilter--inner .customSelect__wrapper .open .arrow:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.selectFilter--inner .custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #901C1C;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem 0;
  width: 170px;
}
.selectFilter--inner .customSelect--trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #901C1C;
  border: none;
}
.selectFilter--inner .customOptions {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 1;
  background-color: #901C1C;
  padding: 0rem 0.625rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  cursor: pointer;
}
.selectFilter--inner .custom-select.open .customOptions {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.selectFilter--inner .customOption {
  position: relative;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
  border-top: 1px solid white;
  width: 150px;
  text-align: left;
}
.selectFilter--inner .customOption span {
  pointer-events: none;
}
.selectFilter--inner .customOption:nth-child(1), .selectFilter--inner .customOption:nth-child(2) {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.selectFilter--inner .customOption:nth-child(3) {
  padding-top: 0.9375rem;
  padding-bottom: 1.1875rem;
}
.selectFilter--inner .custom-option.selected {
  color: #ffffff;
}
.selectFilter--inner .arrow:after {
  position: relative;
  height: 15px;
  width: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  height: 16px;
  width: 16px;
  color: white;
}
.selectFilter--inner .customHidden {
  display: none;
}
.selectFilter--inner .customOption:focus, .selectFilter--inner .customSelect--trigger:focus {
  background-color: #DB8876;
}

.btn {
  padding: 0.25rem 0.6875rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  border: 3px solid #901C1C;
}
.btn:hover, .btn:focus {
  background-color: #DB8876;
  border: 3px solid black;
  color: black;
}
@media screen and (max-width: 767px) {
  .btn--smartphone {
    position: fixed;
    bottom: 30px;
    left: calc((100% - 170px) /2);
  }
}
@media screen and (min-width: 767px) {
  .btn--smartphone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .btn--highRes {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .btn--highRes {
    padding: 1.375rem 0.725rem;
  }
}

.main__wrapper--index .btn {
  display: none;
}

.orderSticker__mainCenter {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
