@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  position: relative;
  font-family: "DM sans", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #911c1c;
  font-family: "DM sans", sans-serif;
}

h1 {
  font-family: "DM sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.redirect__link {
  width: 100%;
  height: 30px;
  width: 182px;
  border-radius: 5px;
  background: #DB8876;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 9px;
  left: calc((100% - 182px) / 2);
}
.redirect__link a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 727px) {
  .redirect__link {
    display: none;
  }
}

.imgFlex {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Positionnemt Structurelle des élements ce trouvant à la racine du DOM*/
/*HEADER*/
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 1.25rem 1.375rem;
  margin: auto;
  /*Gallery page*/
}
@media screen and (min-width: 767px) {
  .header__wrapper {
    inline-size: 100%;
    padding: 2.25rem 7.5rem 2.25rem 6rem;
  }
}
@media screen and (min-width: 1023px) {
  .header__wrapper {
    inline-size: 1024px;
  }
}
@media screen and (min-width: 1439px) {
  .header__wrapper {
    inline-size: 1440px;
  }
}
.header__wrapper--gallery {
  padding-bottom: 0.6875rem;
}

/*MAIN*/
.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
@media screen and (min-width: 767px) {
  .main__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    inline-size: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .main__wrapper {
    inline-size: 1024px;
    padding: 4rem 1.5rem 4rem 1rem;
  }
}
@media screen and (min-width: 1439px) {
  .main__wrapper {
    inline-size: 1440px;
  }
}
.main__wrapper--gallery {
  padding: 0rem 1.25rem;
}
@media screen and (min-width: 767px) {
  .main__wrapper--gallery {
    padding: 2.0625rem 6rem 0.5625rem 6rem;
  }
}

/*Système de filtre*/
@media screen and (max-width: 767px) {
  .selectFilter {
    display: none;
  }
}
.selectFilter--inner {
  height: 68px;
}
@media screen and (min-width: 767px) {
  .selectFilter--inner {
    padding: 0 6rem;
    margin: auto;
    inline-size: 100%;
    padding-bottom: 0.875rem;
  }
}
@media screen and (min-width: 1023px) {
  .selectFilter--inner {
    inline-size: 1024px;
  }
}
@media screen and (min-width: 1439px) {
  .selectFilter--inner {
    inline-size: 1440px;
  }
}

/*Gallerie photo*/
.photography {
  padding: 2.875rem 1.25rem;
}
@media screen and (min-width: 767px) {
  .photography {
    display: flex;
    flex-wrap: wrap;
    inline-size: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 1rem 6rem;
  }
}
@media screen and (min-width: 1023px) {
  .photography {
    inline-size: 1024px;
  }
}
@media screen and (min-width: 1439px) {
  .photography {
    inline-size: 1440px;
  }
}

.identity {
  box-shadow: 0px 10px 11px 0px #bbbbbb;
}

/*
.header__wrapper{
    background-color: rgb(182, 182, 182);
}
.main__wrapper{
    background-color: pink
}
.sticker{    
    background-color: rgb(0, 137, 190);
}

.selectFilter--inner{
    background-color: rgb(100, 102, 255);
}

.photography{
    background-color: rgb(0, 128, 90);
}
*/
.header__wrapper .header__logo {
  order: 1;
}
.header__wrapper .header__logo img {
  width: 150px;
  height: 37px;
}
@media screen and (min-width: 778px) {
  .header__wrapper .header__logo img {
    width: 200px;
    height: 50px;
  }
}
.header__wrapper h1 {
  order: 2;
  flex-basis: 50%;
  font-size: 0.875rem;
  color: #911c1c;
  display: flex;
  align-self: center;
  justify-content: flex-end;
}
@media screen and (min-width: 475px) {
  .header__wrapper h1 {
    order: 2;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper h1 {
    order: 2;
    font-size: 2.125rem;
  }
}
@media screen and (min-width: 1439px) {
  .header__wrapper h1 {
    order: 2;
    flex-basis: auto;
    font-size: 2.125rem;
  }
}
.header__wrapper .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 3;
  flex-basis: 100%;
  margin-top: 2rem;
  margin-bottom: 1.4375rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}
@media screen and (min-width: 727px) {
  .header__wrapper .nav {
    order: 3;
    flex: 1 1 40%;
    margin: 1rem 0 0.25rem;
    align-items: center;
  }
}
@media screen and (min-width: 1439px) {
  .header__wrapper .nav {
    order: 2;
    margin: 0 0 0.25rem;
  }
}
.header__wrapper .nav span {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  margin: 0 0.3125rem 0.375rem 0;
  padding: 3px 6px;
  font-weight: 500;
  line-height: 1rem;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
}
@media screen and (min-width: 1023px) {
  .header__wrapper .nav span {
    margin-bottom: 0;
  }
}
.header__wrapper .nav a {
  color: #911c1c;
}

.sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.75rem;
}
@media screen and (min-width: 768px) {
  .sticker {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1023px) {
  .sticker {
    flex: 0 1 26%;
    margin-bottom: 3rem;
  }
}
.sticker .flexImg {
  display: flex;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin-bottom: 1.75rem;
  border-radius: 50%;
  cursor: pointer;
}
.sticker h2 {
  color: #d3573c;
  font-size: 2.125rem;
  font-family: "DM Sans", sans-serif;
}
.sticker .info__city {
  padding-bottom: 0.5rem;
  font-family: "DM Sans", sans-serif;
  color: #901C1C;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}
.sticker .info__tagline {
  padding-bottom: 0.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.sticker .info__price {
  padding-bottom: 0.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 9px;
  color: #757575;
  font-weight: normal;
  font-style: normal;
}
.sticker .nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sticker .nav span {
  margin: 0 5px 0 0;
  padding: 1px 6px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.sticker .nav a {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: #911c1c;
  font-weight: 500;
  line-height: 1rem;
  font-weight: bold;
}

.main__wrapper--gallery .sticker {
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker {
    justify-content: flex-end;
    padding-top: 4.5rem;
    padding-bottom: 2.625rem;
    border-radius: 5px;
    background-color: #f4f4f4;
  }
  .main__wrapper--gallery .sticker .btn--highRes {
    align-self: flex-start;
  }
}
.main__wrapper--gallery .sticker__info {
  display: flex;
  flex-direction: column;
  margin-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker__info {
    align-self: flex-start;
    margin: 0 4.5rem 0 2rem;
  }
  .main__wrapper--gallery .sticker__info h2 {
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: 0.0625rem;
    font-size: 4rem;
  }
}
.main__wrapper--gallery .sticker header {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker header {
    align-self: flex-start;
  }
  .main__wrapper--gallery .sticker header .identity {
    margin-right: 3rem;
    width: 200px;
    height: 200px;
  }
  .main__wrapper--gallery .sticker header img {
    width: 200px;
    height: 200px;
  }
}
.main__wrapper--gallery .sticker .identity {
  height: 100px;
  width: 100px;
}
.main__wrapper--gallery .sticker .nav {
  justify-content: flex-start;
}
.main__wrapper--gallery .sticker .nav .filter {
  margin-right: 5px;
  margin-bottom: 8px;
}
@media screen and (min-width: 767px) {
  .main__wrapper--gallery .sticker .nav .filter {
    padding: 3px 6px;
    margin-bottom: 0;
  }
}
.main__wrapper--gallery .sticker .nav a {
  font-size: 0.8125rem;
  font-weight: 600;
}
@media screen and (min-width: 767px) {
  .main__wrapper--gallery .sticker .nav a {
    font-size: 1rem;
  }
}
.main__wrapper--gallery .sticker .info__city {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker .info__city {
    margin-bottom: 1.5rem;
    padding-bottom: 0;
    font-size: 1.5rem;
  }
}
.main__wrapper--gallery .sticker .info__tagline {
  font-size: 13px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .main__wrapper--gallery .sticker .info__tagline {
    padding-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.125rem;
  }
}
.main__wrapper--gallery .sticker .info__price {
  display: none;
}

.sticker__media {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem;
}
.sticker__media img, .sticker__media video {
  border-radius: 0.3125rem;
}
.sticker__media a, .sticker__media .flexImg, .sticker__media .flexImg video {
  display: flex;
  height: 190px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .sticker__media a, .sticker__media .flexImg, .sticker__media .flexImg video {
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sticker__media {
    flex: 0 1 45%;
  }
}
@media screen and (min-width: 1439px) {
  .sticker__media {
    padding: 0rem;
    width: 28%;
    margin-bottom: 1.5rem;
  }
}
.sticker__media--info {
  display: flex;
  flex-direction: row;
  padding-top: 0.625rem;
  font-size: 0.875rem;
  color: #901C1C;
  background-color: white;
}
@media screen and (min-width: 1439px) {
  .sticker__media--info {
    font-size: 24px;
  }
}
.sticker__media--info p {
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sticker__media--title {
  flex: 1;
  text-align: left;
}
.sticker__media--price {
  margin-left: 1rem;
  margin-right: 1rem;
}
.sticker__media--like {
  cursor: pointer;
}
.sticker__media--like i {
  margin-left: 0.375rem;
}
.sticker__media--video a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.sticker__media--video a:before {
  position: absolute;
  content: "";
  z-index: 10;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.sticker__media--video a:after {
  position: absolute;
  content: "";
  z-index: 10;
  width: 0px;
  height: 0px;
  border-top: 25px solid transparent;
  border-left: 25px solid #5f5f5f;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  margin-left: 2rem;
}

.dialogBox {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: white;
  padding: 0;
}
.dialogBox form {
  width: 375px;
  margin: auto;
  height: 100vh;
  background-color: #db8876;
}

.slider {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 0;
  z-index: 100;
  padding: 2rem;
  display: flex;
  overflow: hidden;
}
.slider .dialogBox__close {
  position: absolute;
  top: 0;
  right: 0;
}
.slider .carousel {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 1050px;
  height: 900px;
  margin: auto;
  border-radius: 5px;
}
.slider .carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}
.slider .carousel__nav {
  position: absolute;
  z-index: 10;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 48%;
}
.slider .carousel__prev {
  bottom: 0;
  left: 20px;
}
.slider .carousel__prev--hidden {
  opacity: 0;
}
.slider .carousel__next {
  bottom: 0;
  right: 20px;
}
.slider .carousel__next--hidden {
  opacity: 0;
}
.slider .carousel__container::after {
  content: "";
  clear: both;
  display: table;
}
.slider .carousel__item {
  float: left;
}

figure {
  width: 1050px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selectFilter--inner {
  display: flex;
  align-items: center;
}
.selectFilter--inner label {
  font-weight: bold;
  margin-right: 1rem;
  margin-top: 0.375rem;
  font-size: 1.125rem;
}
.selectFilter--inner button {
  background-color: #901C1C;
  border: none;
  color: white;
  font-size: 1.125rem;
  padding: 0.875rem 0.625rem;
  outline: none;
}
.selectFilter--inner .custom-select-wrapper {
  position: relative;
  width: 170px;
  display: block;
}
.selectFilter--inner .custom-select-wrapper .open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.selectFilter--inner .custom-select-wrapper .open .arrow:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.selectFilter--inner .custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #901C1C;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem 0;
  width: 170px;
}
.selectFilter--inner .custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #901C1C;
  border: none;
}
.selectFilter--inner .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
  z-index: 2;
  background-color: #901C1C;
  padding: 0rem 0.625rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}
.selectFilter--inner .custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.selectFilter--inner .custom-option {
  position: relative;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 150px;
  text-align: left;
}
.selectFilter--inner .custom-option:nth-child(1) {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.selectFilter--inner .custom-option:nth-child(2) {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.selectFilter--inner .custom-option:nth-child(3) {
  padding-top: 0.9375rem;
  padding-bottom: 1.1875rem;
  border: none;
}
.selectFilter--inner .custom-option:hover {
  cursor: pointer;
}
.selectFilter--inner .custom-option.selected {
  color: #ffffff;
}
.selectFilter--inner .arrow:after {
  position: relative;
  height: 15px;
  width: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  height: 16px;
  width: 16px;
  color: white;
}
.selectFilter--inner .custom-hidden {
  display: none;
}

.btn {
  padding: 0.25rem 0.6875rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .btn--smartphone {
    position: fixed;
    bottom: 30px;
    left: calc((100% - 170px) /2);
  }
}
@media screen and (min-width: 767px) {
  .btn--smartphone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .btn--highRes {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .btn--highRes {
    padding: 1.375rem 0.725rem;
  }
}

/*# sourceMappingURL=style.css.map */
