
/*Repères vertical*/
    .repere--X{
        position: fixed;
        content : '';
        width: 1px;
        height : 100%;
        background-color: red;
        z-index : 1000;
    }
/*Repères horizontal*/
    .repere--Y{
        position: fixed;
        content : '';
        width: 100%;
        height : 1px;
        background-color: red;
        z-index : 1000;
    }



/*Repères page index*/


    /*Repère vertical*/
    .repere__1--X{
        left : 6rem;
    }

    .repere__2--X{     
        left: rem(1320);     
    }

    /*Repère horizontal*/
    .repere__1--Y{       
        top : rem(390); /*Utilisez bottom pour ce repérer par les bas*/
    }

    .repere__2--Y{
        top : rem(189); /*Utilisez bottom pour ce repérer par les bas*/
      
    }
    .repere__3--Y{
        top : rem(74); /*Utilisez bottom pour ce repérer par les bas*/  
    }



/*Repères page gallery*/


    /*Repère vertical*/
    .repere__gal1--X{
        left : rem(96);
    }

    .repere__gal2--X{     
        right: rem(96);     
    }

    /*Repère horizontal*/
    .repere__gal1--Y{       
        top : rem(406); /*Utilisez bottom pour ce repérer par les bas*/
    }

    .repere__gal2--Y{
        top : rem(205); /*Utilisez bottom pour ce repérer par les bas*/
      
    }
    .repere__gal3--Y{
        top : rem(74); /*Utilisez bottom pour ce repérer par les bas*/  
    }