.btn {

    padding : 0.5rem rem(11);
    font-family: $primary-font;
    font-size : 1.25rem;
    color : white;
    font-weight: bold;
    background-color: $first_background;
    border : none;
    border-radius: 5px;
  
    &--smartphone{
        @media screen and (max-width : 767px){ 
            position: fixed;
            bottom : 30px;
            left : calc((100% - 170px) /2);
        }

        @media screen and (min-width : 767px){ 
            display: none;     
        }
    } 
   
    &--highRes{

        @media screen and (max-width : 767px){        
                display : none;               
        }
        @media screen and (min-width : 767px){
            padding : 1.375rem 0.725rem;
        
        }
    }
}



