body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width : 100%;
    min-width : 100%;
    min-height: 100%;
}


.redirect__link{
    width : 100%;
    height: 30px;
    width : 182px;
    border-radius: 5px;
    background: #DB8876;
    display : flex;
    justify-content: center;
    align-items: center;
    position : fixed;
    top : 9px;
    left : calc((100% - 182px) / 2);
    
    
    a{
        font-size: 18px;
        font-weight : bold;
        color : black;
    }

    @media screen and(max-width : 727px) {

        display: none;
        
    }

}

.imgFlex{
    width :100%;
    height : 100%;
    object-fit: cover;
}
  



/*Positionnemt Structurelle des élements ce trouvant à la racine du DOM*/

/*HEADER*/

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding : rem(48) rem(20) rem(22);
    margin : auto;

    @media screen and (min-width : 767px) {
        inline-size: 768px;        
    }
    @media screen and(min-width : 1023px) {
        inline-size: 1024px; 
        padding : rem(36) rem(48) ;
    }
    @media screen and(min-width : 1439px) {
        inline-size: 1440px;
        padding : rem(36) rem(120) rem(36) rem(96) ;
    }
    /*Gallery page*/
    &--gallery{
        padding-bottom: rem(11);
    }

}

/*MAIN*/


.main__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin:auto;

    @media screen and (min-width : 767px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        inline-size: 768px;      
    }
    @media screen and(min-width : 1023px) {
        inline-size: 1024px; 
        padding : rem(64) rem(24) rem(64) rem(16) ;
    }
    @media screen and(min-width : 1439px) {
        inline-size: 1440px;

        &--gallery{        
            padding :  rem(33) rem(96) rem(8) rem(96)
        }
    }
}

/*Système de filtre*/

@media screen and (max-width : 767px) {
    .selectFilter{
        display : none;
    }
}
.selectFilter--inner{
   
    height : 65px;
    @media screen and (min-width : 767px) {  
        padding : 0 rem(96);
        margin : auto;    
        inline-size: 768px;  
        padding-bottom :0.5rem    
    }
    @media screen and(min-width : 1023px) {
        inline-size: 1024px; 
    }
    @media screen and(min-width : 1439px) {
        inline-size: 1440px;
    }
}


/*Gallerie photo*/
.photography{  

    @media screen and (min-width : 767px){
        display: flex;
        flex-wrap: wrap;
        inline-size : 768px;
        margin : auto;
        justify-content: space-between;
    }

    @media screen and (min-width : 1023px){
        inline-size : 1024px;
     
    }
    @media screen and (min-width : 1439px){
        inline-size : 1440px;
        padding : rem(16) rem(96);
     
    }
}



.header__wrapper{
    background-color: rgb(182, 182, 182);
}
.main__wrapper{
    background-color: lightslategray;
}
.sticker{    
    background-color: rgb(0, 137, 190);
}

.selectFilter--inner{
    background-color: rgb(100, 102, 255);
}

.photography{
    background-color: rgb(0, 128, 90);
}

span{
    background-color: white;
}



.breakPoint {
    flex-basis: 100%;
    height: 0;
  }