body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width : 100%;
    min-width : 100%;
    min-height: 100%;
}


.redirect__link{
    width : 100%;
    height: 30px;
    width : 182px;
    border-radius: 5px;
    background: #DB8876;
    display : flex;
    justify-content: center;
    align-items: center;
    position : fixed;
    top : 9px;
    left : calc((100% - 182px) / 2);
    
    
    a{
        font-size: 18px;
        font-weight : bold;
        color : black;
    }

    @media screen and(max-width : 728px) {

        display: none;
        
    }

}

.imgFlex{
    width :100%;
    height : 100%;
    object-fit: cover;
}


/*Repères vertical*/
body:after{
    position: fixed;
    left : 20.25rem; /*Positionne le repère à droite utilisez right pour ce repérer par apport à la gauche*/
    content : '';
    width: 1px;
    height : 100%;
    background-color: red;
    }
    /*Repère horizontal*/
    body:before{
    position: fixed;
    top : 25.5rem; /*Utilisez bottom pour ce repérer par les bas*/
    content : '';
    width: 100%;
    height : 1px;
    background-color: red;
    }



