.main__wrapper--index {
  .sticker {
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.75rem;
  width: 90%;

  @media screen and (min-width: 768px) {
    //flex: 0 1 48%;
    margin-bottom: 3rem;
  }
  @media screen and (min-width: 1023px) {
    flex: 0 1 28%;
    margin-bottom: 3rem;
  }

  header {
    width: 100%;
  }

  .identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem 0.25rem;
    margin-bottom: 0.375rem;
    width: 100%;

    &:focus {
      outline: 1px solid;
      background-color: rgb(214, 214, 214);
    }
  }

  .flexImg {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(28);
    @media screen and (min-width: 768px) {
      width: 200px;
      height: 200px;
    }
  }

  h2 {
    color: $first_color;
    font-size: 2.125rem;
    font-family: "DM Sans", sans-serif;
  }

  .info__city {
    padding-bottom: 0.5rem;
    font-family: "DM Sans", sans-serif;
    color: $first_background;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
  }
  .info__tagline {
    padding-bottom: 0.5rem;
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .info__price {
    padding-bottom: 0.5rem;
    font-family: "DM Sans", sans-serif;
    font-size: 9px;
    color: #757575;
    font-weight: normal;
    font-style: normal;
  }

  .nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
