// page gallery
.main__wrapper--gallery{

  

    .sticker{
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-basis: 100%;
        margin-bottom : 0;
        width : 100%;
        text-align: left;
        background-color: $third_background ;

        @media screen and (min-width : 768px){
            justify-content: flex-end;
            padding-top : 4.5rem;
            padding-bottom : 2.625rem;
            border-radius: 5px;
            background-color: #f4f4f4;

            .btn--highRes{
                align-self: flex-start;              
            }
        }


        &__info{
            display: flex;
            flex-direction: column;
            margin-top : rem(18);           
            
            @media screen and (min-width : 768px){
                align-self: flex-start;
                margin: 0 4.5rem 0 2rem;
                h2{
                    display: flex;
                    margin-bottom: 1.5rem;
                    margin-left : 0.0625rem;
                    font-size : 4rem;
                }
            }
        }


        header{
            display: flex;
            justify-content: flex-end;
            flex : 1;
            @media screen and (min-width : 768px){
               align-self: flex-start;
               .identity{
                margin-right : 3rem;
                width : 200px;
                height : 200px;

               }
               img{
                   width : 200px;
                   height : 200px;
               }
               
            }
        }

        .identity{
            height : 100px;
            width : 100px;
        }
        .nav{
            justify-content: flex-start;

            .filter{
                margin-right : 5px;
                margin-bottom : 8px;
                @media screen and (min-width : 767px){
                    padding : 3px 6px;
                    margin-bottom :0;
                }
            }

            a{
                font-size: rem(13);
                font-weight: 600;

                @media screen and (min-width : 767px){
                    font-size: 1rem;
                }
            }
        }

        .info__city{
            font-weight: 400;
            @media screen and (min-width : 768px){
                margin-bottom: 1.5rem;
                padding-bottom: 0;
                font-size: 1.5rem;
            }
        }
        .info__tagline{
            font-size : 13px; 
            color : #757575;
            @media screen and (min-width : 768px){
                padding-bottom : 1.5rem;
                font-weight: 400;
                font-size: 1.125rem;
            }           
        }

        .info__price{
            display: none;            
        }


    
    }

}









