.dialogBox {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-overflow-scrolling: touch;
  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }
  form {
    width: 100%;
    margin: auto;
    background-color: #db8876;
    padding: rem(27) rem(20) rem(75) rem(16);
    position: relative;
    border-radius: rem(5);
    height: 812px;

    @media screen and (min-width: 426px) {
      width: 700px;
      padding: rem(24) rem(35) rem(38) rem(35);
      margin-top: rem(32);
      height: 94%;
    }

    .dialogBox__close {
      background-color: transparent;
      border: none;
      position: absolute;
      right: rem(25);
      top: rem(27);
      height: rem(27);
      width: rem(27);
      display: flex;
      padding: 0;
      transition: 0.5s;
      border: 2px solid transparent;

      @media screen and (min-width: 427px) {
        height: rem(41);
        width: rem(41);
        right: rem(35);
        top: rem(35);
      }

      &:focus,
      &:hover {
        border: 2px solid white;
        border-radius: 50%;
        transform: scale(1.1);
      }

      &:before,
      &:after {
        position: absolute;
        display: block;
        content: "";
        height: rem(26);
        width: 2px;
        top: -2px;
        left: rem(11);
        cursor: pointer;
        background-color: white;

        @media screen and (min-width: 427px) {
          top: 2px;
          left: 16px;
          height: rem(31);
          width: 5px;
        }
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(135deg);
      }
    }

    .form__content {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    legend {
      margin-bottom: rem(8);
    }

    h1 {
      margin-bottom: rem(24);
    }

    legend,
    h1 {
      font-size: rem(32);
      @media screen and (min-width: 427px) {
        font-size: rem(64);
      }
    }

    label {
      color: #312e2e;
      font-size: rem(24);
      padding-bottom: rem(3);
      line-height: rem(22);
      @media screen and (min-width: 427px) {
        font-size: rem(36);
        padding-bottom: rem(16);
      }
    }

    .brick {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (min-width: 427px) {
        padding-bottom: rem(6);
      }

      &Input {
        height: rem(52);
        border-radius: rem(5);
        border: none;
        padding: 6px;
        background: url("../img/_ui/asterisk.png") 98% center no-repeat;
        background-color: white;
        color: #312e2e;
        transition: border, shadow, 0.5s;
        margin-bottom: 2px;

        border: 2px solid transparent;

        &:hover {
          box-shadow: 0 0 5px #00aadb;
          border: 2px solid #00aadb;
        }

        &:focus:invalid {
          background-image: none;
          background-color: white;
          box-shadow: 0 0 5px $first_background;
          border: 2px solid $first_background;
        }

        &:focus:invalid + span {
          opacity: 1;
          color: $first_background;
          font-weight: bold;
        }

        &:valid {
          background-image: none;
          background-color: white;
          box-shadow: 0 0 5px #56c93f;
          border: 2px solid #56c93f;
        }

        & + span {
          opacity: 0;
          transition: 0.5s;
          font-size: rem(12);
        }

        @media screen and (min-width: 427px) {
          height: rem(69);
          font-size: rem(24);
        }

        &--textarea {
          height: 170px;
          border: none;
          padding: 6px;
        }
      }
    }

    .btn--modal {
      margin-top: rem(26);
      width: 170px;
      @media screen and (min-width: 427px) {
        align-self: flex-start;
        height: 56px;
      }
    }
  }
}
