.slider{
    position: fixed;        
    background-color: white;  
    padding : 0;
    z-index : 100;
    top : 0;
    bottom :0;
    left : 0;
    right :0;
    display: flex;
    z-index: 70;
    border : none;
    

    .marquise{
        width : 289px;
        height : 280px;
        position : relative;
        margin : auto;

        @media screen and (min-width:1439px){
            width: 1050px;
            height: 980px;
        }

    }

  

    .sliderBox__close{
        position: absolute;
        top : 0px;
        right : -20px;
        height: 12px;
        width : 12px;
        border : none;
        background-color: transparent;
        z-index: 75;
        transition : all 0.3s;
        top: 4px;

        &:hover{
            transform : scale(1.1);
        }
        @media screen and (min-width : 1400px){
            height: 42px;
            width: 42px;
            right :-69px;
            top : 15px;
        }
        


        &:before{
            position : absolute;
            content : '';
            width : 1px;
            height : 15px;
            left : 5px;
            top : -1px;
            background-color : $first_background;
            display: block;
            z-index : 20;
            transform: rotate(45deg);

            @media screen and (min-width : 1400px){
                height: 56px;
                width: 6px;
                top : -6px;
                left : 20px              
            }
           
        }

        &:after{
            position : absolute;
            content : '';
            width : 1px;
            height : 15px;
            left : 5px;
            top : -1px;
            background-color : $first_color--other;
            display: block;
            z-index : 35000;
            transform: rotate(135deg);
            @media screen and (min-width : 1400px){
                height: 56px;
                width: 6px;
                top : -6px;
                left : 20px              
            }
           
        }

    }

    .carousel{
        
        position : relative;
        z-index: 1;
        overflow: hidden;      
        margin : auto;
        border-radius: 5px;
        width : 289px;
        height : 280px; //273??? 
        
        z-index: 80;
        box-sizing: content-box;
        
        @media screen and (min-width : 1400px){
            width : 1050px;
            height : 960px;
        }

     

        &__container{
           
            position: relative;
            z-index: 90;
            transition : transform 0.3s;
            transform : translate3d(0,0,0);  
           
        }

        &__item{
            p{
                margin-top : rem(7);
                font-size: rem(14);
                line-height: 18px;
                color : $first_background !important;
                @media screen and (min-width : 1400px){
                    font-size: rem(24);
                    margin-top: rem(12);
                }
            }
        }
     

        &__nav{
            position : absolute;
            color : $first_background;
            width : 40px;
            height : 40px;  
            border : none;
            background-color: transparent;  
            font-size : rem(13);     
            outline: none;
            z-index :100;
            cursor : pointer;
            transition :  3s;
            top : 50%;

            :hover{
                transform : scale(1.2);
            }
     
            
            @media screen and (min-width : 1400px){
                height: 50px;
                width : 50px;
                font-size :rem(48);
            }
           
        }

        &__prev{
           
            transform: translateY(-100%);
            left : -30px;       
            @media screen and (min-width : 1400px){
                left: -65px;
            }
            
          
            
        }

        &__next{
            
            transform: translateY(-100%);
            right : -30px;
           
            @media screen and (min-width : 1400px){
                right : -65px;
            }
            
                     
        }


      
        // supprimer
        
        &__container::after{
            content :'';
            clear : both;
            display: table;
        }

        &__item{
            float : left;
        }
       
    }

  
}

figure{
    width : 289px;
    height : 248px;
    display: flex;
    flex-direction: column;  
    background-color: black;


    @media screen and (min-width : 1400px){
        width : 1050px;
        height : 900px;
    }

    img{
        height: 100%;
        object-fit:cover;
        border-radius: 5px;       
    }
        
     
    video{
        background-color: black;
    }
    
}

.figure__video{
    justify-content: center;
   
}


