.slider{
    position: fixed;        
    background-color: white;
    padding : 0;
    z-index : 60;
    top : 0;
    bottom :0;
    left : 0;
    right :0;
    display: flex;
    z-index: 90;
    border : none;
    cursor : pointer;
    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
      }
      @media screen and (min-width:1439px){
        
        background-color: rgba(0,0,0,0.5); 
      }
    

    .marquise{
        width : 400px;
        height : 320px;
        position : relative;
        margin : auto;
        background-color: rgb(172, 242, 255);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:1439px){
            width: 980px;
            height:800px;
        }

    }

    .sliderBox__close{
        position: absolute;
        top : 44px;
        right : 34px;
        height: 12px;
        width : 12px;
        border : none;
        background-color: transparent;
        z-index: 30;
        transition : all 0.3s;
        cursor : pointer;
        background-color: yellow;

        &:hover{
            transform : scale(1.1);
        }
        @media screen and (min-width : 1439px){
            height: 42px;
            width: 42px;
            right :40px;
            top : 60px;
        }

        &:before{
            position : absolute;
            content : '';
            width : 1px;
            height : 15px;
            left : 5px;
            top : -1px;
            background-color : $first_background;
            display: block;
            z-index : 20;
            transform: rotate(45deg);

            @media screen and (min-width : 1439px){
                height: 56px;
                width: 6px;
                top : -6px;
                left : 20px              
            }
           
        }

        &:after{
            position : absolute;
            content : '';
            width : 1px;
            height : 15px;
            left : 5px;
            top : -1px;
            background-color : $first_color--other;
            display: block;
            z-index : 100;
            transform: rotate(135deg);
            @media screen and (min-width : 1439px){
                height: 56px;
                width: 6px;
                top : -6px;
                left : 20px              
            }
           
        }

    }

      //Un problème survient sur la hauteur du carousel
      // et fait disparaite le titre de l'image 
      //si le dimensionnment est trop petit
      //excentre l'élément de la marquise
            

    .carousel{
        
        position : relative;     
        margin : auto;
        border-radius: 5px;
        width : 289px;
        height : 260px;
        z-index: 40;
        box-sizing: content-box;
        overflow : hidden;
        margin-top : 40px; // 10px de perdu
        
        @media screen and (min-width : 1439px){
          
            width : 800px;
            height : 720px;
            margin-top : 40px
        }

        &__container{
           
            position: relative;
            z-index: 50;
            transition : transform 0.3s;
            transform : translate3d(0,0,0);  
            display: flex;

        }

        &__item{
            height : 248px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (min-width : 1439px){                
                height : 685px;
            }

            video{
                height:162px;
                transform: translateY(25%);
                
                @media screen and (min-width : 1439px){                
                   // width : 800px;
                    height: 450px;                    
                }
            }

            .flexImg{
                justify-content: center;
                height: 248px;
                background-color: black;
                @media screen and (min-width : 1439px){                
                    height : 685px;
                }
            }

            .imgFlex{
                height: 248px;
                @media screen and (min-width : 1439px){                
                    height : 685px;
                }
            }

            figcaption{
                margin-top : rem(7);
                font-size: rem(14);
                line-height: 18px;
                color : $first_background !important;
                @media screen and (min-width : 1439px){
                    font-size: rem(24);
                    margin-top: rem(12);
                }
            } 
        }
     

        &__nav{
            position : absolute;
            color : $first_background;
            width : 20px;
            height : 40px;  
            border : none;
            background-color: transparent;  
            font-size : rem(13); 
            z-index :70;
            cursor : pointer;
            transition :  3s;
            top : 50%;

            :hover{
                transform : scale(1.2);
            }
     
            
            @media screen and (min-width : 1439px){
                height: 50px;
                width : 50px;
                font-size :rem(48);
            }
           
        }

        &__prev{
           
            left : 30px; 
            top : 25%;
            background-color: yellow;
            height: 50%;      
            @media screen and (min-width : 1439px){
             
                left: 30px;
            }            
        }

        &__next{           
           
            right : 30px;
            top : 25%;
            background-color: yellow;
            height: 50%;
           
            @media screen and (min-width : 1439px){
                right : 30px;
         
            }           
                     
        }  
    }
}



