//Recadrage des photo du carousel


figure{

    //Photographe Mimi Keel

    .carouselmedia__Mimi--0{
        object-position: 70% 0%;
    }
    .carouselmedia__Mimi--2{
        object-position: 0% 44%;
    }
    .carouselmedia__Mimi--4{
        object-position: 0% 20%;
    }
    .carouselmedia__Mimi--6{
        object-position: 0% 70%;
    }
    .carouselmedia__Mimi--9{
        object-position: 0% 40%;
    }

    //Ellie-Rose Wilkens

    .carouselmedia__Ellie-Rose--5{
        object-position: 0% 20%;
    }
    .carouselmedia__Ellie-Rose--6{
      
        object-position: 100% 0%;
    }

    //tracy Galindo{
    .carouselmedia__Tracy--0{
        object-position: 0% 8%;
    }
    .carouselmedia__Tracy--2{
        object-position: 0% 15%;
    }
    .carouselmedia__Tracy--3{
        object-position: 0% 60%;
    }
    .carouselmedia__Tracy--4{
        object-position: 60% 0%;
    }
    .carouselmedia__Tracy--7{
        object-position: 0% 0%;
    }
    .carouselmedia__Tracy--8{
        object-position: 40% 0%;
    }

    //Nabeel Bradford

    .carouselmedia__Nabeel--8{
        object-position: 0% 70%;
    }
    // Rhode dubois
    .carouselmedia__Rhode--1{
        object-position: 0% 10%;
    }
    .carouselmedia__Rhode--2{
        object-position: 0% 30%;
    }
    .carouselmedia__Rhode--5{
        object-position: 0% 30%;
    }
    .carouselmedia__Rhode--6{
        object-position: 0% 0%;
    }
    .carouselmedia__Rhode--7{
        object-position: 0% 70%;
    }

}