@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


//Couleur de fond

$first_background : #901C1C;
$second_background : #D3573C;
$third_background : #FAFAFA;

//Couleur de texte
$first_color : #d3573c;
$first_color--other : #911c1c;
$second_color : #525252;
$third_color : #FFF;